# Ignore bash scripts
*.bash

# Ignore object files
*.o

# Ignore compiled executables
tarasaur
a.out

# Ignore vim swap files
*.swp

# Ignore test input files
*.txt

# Ignore tar files
*.gz

# Ignore json (for the vscode extension)
*.json

# Ignore custom .tarasaur archive files
*.tarasaur

# Ignore pdf files
*.pdf

# Test droppings
*.out
*.err
*.diff
*.bin
*.ltoc
*.stoc
*.md5
*.ls
big_arch
jar_ex
sar_ex
tarasaur.h
